body {
	text-align: center;
	background-color: hsl(300, 92%, 15%);
}

h1 {
	font-size: 5rem;
	color: #dbedf3;
	font-family: 'Arvo', cursive;
	text-shadow: 3px 0 #181517;
	margin: 20px;
}

footer {
	color: #dbedf3;
	font-family: sans-serif;
	margin-top: 350px;
}

.m {
	background-image: url('images/tom1.png');
}

.a {
	background-image: url('images/tom2.png');
}

.s {
	background-image: url('images/tom3.png');
}

.e {
	background-image: url('images/tom4.png');
}

.j {
	background-image: url('images/snare.png');
}

.o {
	background-image: url('images/crash.png');
}

.l {
	background-image: url('images/kick.png');
}

.set {
	margin: 10% auto;
}

.pressed {
	box-shadow: 0 3px 4px 0 #dbedf3;
	opacity: 0.5;
}

.red {
	color: red;
}

.drum {
	outline: none;
	border: 10px solid #98779f;
	font-size: 5rem;
	font-family: 'Arvo', cursive;
	line-height: 2;
	font-weight: 900;
	color: #977090;
	text-shadow: 3px 0 #dbedf3;

	display: inline-block;
	width: 150px;
	height: 150px;
	text-align: center;
	margin: 10px;
	margin-right: 45px;
	background-color: white;
	border-radius: 50%;
}
