body{
    text-align: center;
}
.btn{
    background-color: violet;
    display: inline-block;
    padding:.5rem 1rem;
    margin: auto;
    font-size: x-large;
    margin-top: 300px;
  
}
.btn a{
    text-decoration: none;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}
.btn :hover{
    cursor:pointer;
    transform: scale(2);
}
.btn :active{
    opacity:.8 ;
}
.p span{
    font-size: xx-large;
    display: inline-block;
}