 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
    background-image: linear-gradient(90deg,#4743d0,#880868);
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:'Playfair',sans-serif ;
    width: 100vw;
    text-align: center;
    overflow-x:hidden;
 }
 h1{
    font-size: 3rem;
    color:#fff;
 }
 form{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0;
 }
 button,
 input {
   display: inline-block;
   background-color: #fff;
   border: none;
   font-size: 1.2rem;
   padding: 15px 20px;
 }
 input{
    font-weight: bold;
 }
 input:focus{
    outline:none ;
 }
 button{
    cursor:pointer;
 }
 .poke-container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 0.5rem;
 }
 .poke-box{
    width: 300px;
    margin: 10px;
    border-radius: 15px;
    background-color: #fff;
    padding: 5px;
 }
 .poke-box img{
    margin:10px 0;
    width: 80%;
 }
 .poke-box h4{
    font-size: 1.4rem;
    margin: 5px auto;
 }
 .poke-box p{
    margin: 5px auto;
 }

 
  
  